.results-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem;
  gap: 2rem;
}

.results-title {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
  color: var(--blue);
}

.results-lower {
  display: flex;
  gap: 2vw;
}

.concern-rows {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.results-card {
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}
