.form-card {
  display: inline-block;
  margin: 6vh auto 0;
  border-radius: 10px;
  padding: 10px 4vw;
  height: 45vh;
  position: relative;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5), 0 15px 40px rgba(0, 0, 0, 0.1);
}

.form-heading {
  margin-top: 3vh;
}
