.concern-row {
  padding: 0.5rem;
  width: 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 6px;
  cursor: pointer;
}

.concern-row:hover {
  opacity: 0.7;
}

.concern-title {
  text-transform: capitalize;
  font-size: 1.1rem;
}
