.process-main {
  color: var(--medium-black);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.heading {
  margin-top: 1rem;
  font-size: 1.8rem;
  color: var(--medium-black);
  text-align: center;
  color: var(--blue);
}

.sub-heading {
  font-size: 1rem;
  color: var(--medium-black);
  opacity: 0.8;
  text-align: center;
  font-style: italic;
  padding-top: 0.5rem;
}

.form-card {
  min-width: 300px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 3rem;
  flex-shrink: 0;
  min-height: 20rem;
  padding: 1.5rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.tos {
  flex-grow: 1;
}

.form-heading {
  font-size: 1rem;
  font-weight: 100;
  text-align: center;
}

.form-footer {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.buttons-parent {
  display: flex;
  gap: 1rem;
}

.loading-parent {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  min-width: 20vw;
  min-height: 20vw;
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 1.4rem;
  }

  .sub-heading {
    font-size: 0.9rem;
  }

  .form-footer {
    flex-direction: column;
    align-items: stretch;
  }

  .buttons-parent {
    justify-content: end;
  }
}
