.App {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 2rem;
}

.heading {
  margin-top: 1rem;
  font-size: 1.8rem;
  color: var(--medium-black);
  text-align: center;
}

.sub-heading {
  font-size: 1rem;
  color: var(--medium-black);
  opacity: 0.8;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .heading {
    font-size: 1.4rem;
  }

  .sub-heading {
     font-size: 0.9rem;
  }
}
