.loading-parent {
  margin-top: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  padding: 1rem;
  border-radius: 6px;
}

.loading-concerns {
  color: rgba(0, 0, 0, 0.4);
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.loading-concern {
  padding: 0.5rem;
  width: 11rem;
  border-radius: 2px;
  background: rgba(89, 193, 189, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(89, 193, 189, 0.2)), color-stop(18%, rgba(89, 193, 189, 0.3)), color-stop(33%, rgba(89, 193, 189, 0.2)));
  background: linear-gradient(to right, rgba(89, 193, 189, 0.2) 8%, rgba(89, 193, 189, 0.3) 18%, rgba(89, 193, 189, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}

.loading-details {
  font-size: 0.8rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  max-width: 450px;
  height: 325px;
  border-radius: 2px;
  background: rgba(89, 193, 189, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(89, 193, 189, 0.2)), color-stop(18%, rgba(89, 193, 189, 0.3)), color-stop(33%, rgba(89, 193, 189, 0.2)));
  background: linear-gradient(to right, rgba(89, 193, 189, 0.2) 8%, rgba(89, 193, 189, 0.3) 18%, rgba(89, 193, 189, 0.2) 33%);
  background-size: 800px 100px;
  animation: wave-squares 2s infinite ease-out;
}

@keyframes wave-lines {
  0% {
      background-position: -468px 0;
  }
   100% {
      background-position: 468px 0;
  }
}
@keyframes wave-squares {
  0% {
      background-position: -468px 0;
  }
   100% {
      background-position: 468px 0;
  }
}


@media screen and (max-width: 600px) {
  .loading-parent {
    flex-direction: column;
    align-items: stretch;
  }

  .loading-concern {
    width: auto;
  }
}

