.login-main {
  color: var(--medium-black);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.login-card {
  padding: 3rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: rgba(0, 0, 0, 0.22) 0px 1px 3px, rgba(0, 0, 0, 0.44) 0px 1px 2px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.login-heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

.avatar-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.avatar {
  text-align: center;
}

#avatar-img {
  border: 5px solid #fff;
  width: 160px;
  height: 160px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

#avatar-img:hover {
  border: 5px solid #59c1bd;
}

.avatar-name {
  margin: 5px 0 0;
}
